header {

	border: solid 1px blue;
}

nav > ul >li {

	display: inline-block;
	margin: 0 3rem 0 3rem;
}

.disabled {

	background-color: grey;
}
a.disabled,  {
	background-color: purple;
}


.active {

	color: yellow;
}
