header {

	border: solid 1px blue;
}

nav > ul >li {

	display: inline-block;
	margin: 0 3rem 0 3rem;
}

.disabled {

	background-color: grey;
}
a.disabled, a .disabled  {
	background-color: purple;
}


.active {

	color: yellow;
}

#redy, #redy+h4 {
	color: red;

}

#blue, #blue+h4{
	color: blue;
}

.grandparent > h4 {

	border: solid 1px black;
	border-radius: 30%;
}

.promo {

	color: gold;
	font-weight: bold;
}

footer input[type="text"] {

	font-size: 25px;
}
